app-window {
    all: unset;
    position: fixed;
    box-sizing: border-box;
    border: solid 1px rgba(255, 255, 255, .4);
    overflow: hidden
}

app-window.show .nofullscreen {
    display: inline-block
}

app-window.show .fullscreen {
    display: none
}

app-window.show[fullscreen] .nofullscreen {
    display: none
}

app-window.show[fullscreen] .fullscreen {
    display: inline-block
}

app-window {
    display: none
}

app-window.show {
    display: block
}

app-window .controls-container {
    position: relative;
    width: 100%;
    height: .8cm;
    cursor: move
}

app-window .controls-container .title {
    float: left;
    font-family: Roboto, Lato, Arial, "Open Sans";
    max-width: calc(100% - 2.8cm - 2px);
    max-height: .8cm;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: .2cm;
    font-size: .4cm;
    cursor: move
}

app-window.show[fullscreen] .controls-container, app-window.show[fullscreen] .controls-container .title {
    cursor: default
}

app-window .controls-container .controls {
    float: right
}

app-window .controls-container .controls svg {
    width: .8cm;
    height: .8cm;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: background-color .4s ease-in-out
}

app-window .controls-container .controls svg:hover {
    background-color: rgba(255, 255, 255, .16)
}

app-window .content-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .3cm;
    max-height: calc(100% - .8cm - 1px);
    overflow: auto;
}

app-window .content-container::-webkit-scrollbar {
    width: .8em
}

app-window .content-container::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, .04)
}

app-window .content-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .08);
    border-radius: 0
}

app-window .content-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .16)
}